@charset "utf-8";
body {
    background-color: #ffffff;
    font-family: Arial, Tahoma, sans-serif;
    color: #000000;
}

h1 {
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px width: 80% margin-left: 10%
}

#container {
    width: 100%;
}

main {
    width: 80%;
    background-color: #ffffff;
    float: left;
    padding: 5px;
    margin-left: 10%
}

footer {
    clear: both;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-left: 10%;
    padding: 5px;
    font-size: 12pt;
    width: 80%
}

nav {
    color: #000000;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
}

nav ul li a:link,
nav ul li a:visited {
    display: block;
    width: 150px;
    margin-right: 4px;
    color: #000000;
    padding: 2px 4px 2px 4px;
    background-color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #a09aa5;
}

table {
    text-align: center;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#menu td,
#menu th {
    border: 1px solid #ddd;
    padding: 8px;
}

#menu tr:nth-child(even) {
    background-color: #f2f2f2;
}

#menu tr:hover {
    background-color: #ddd;
}

#menu th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}